/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato;
}

.center {
    width: 1600px;
    margin: 0 auto;
}

.header {
    height: 75px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}

.left_header {
    /* левый блок в header с логотипом и кнопкой поиска*/
    margin-top: 18px; 
    margin-left: 231px;
}

.logo_header {    
    margin-right: 46px;
}
.right_header {
    /* правый блок кнопок в header */
    margin-top: 26px;
    margin-right: 240px;
}
.button_header {    
    background-color: #222;
    border: none;
}
.button_person {
    margin-left: 25px;
}
.button_trash {
    margin-left: 25px;
}

.face {    
    background-color: #F1E4E6;
    display: flex;
    justify-content:flex-start;
}

.face_content {
    width: 405px;
    height: 93px;
    margin-left: 63px;
    margin-top: 290px; 
    display: flex;
    justify-content:flex-start;
    gap: 16px;
}

.text_one {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.text_two {    
    font-size: 32px;
    font-weight: 700;
}

.color_face_text {
    color: #F16D7F;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px;
    gap: 30px;
    justify-content: center;
}

.offer_item {
    position: relative;    
}

.item_color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    top: 0;
}

.item4 {
    width: 1140px;
    height: 180px;    
}

.item_text_block {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 105px;
}

.item4_text {
    width: 1140px;
    padding-top: 65px;
}

.offer_text {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;     
}

.color_text {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.products {
    margin-bottom: 48px;
}

.title_products {
    text-align: center;
    margin-bottom: 6px;
    color: #222;
    font-size: 30px;
    font-weight: 400;
}

.subtitle_products {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.product_items {
    margin-top: 48px;    
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;    
}

.product_item {
    background-color: #F8F8F8;       
}

.wrap_img {
    height: 420px;
    background-color: #F7E4E2;    
}

.img_narrow {
    margin-top: 9px;
    margin-left: 108px;
}

.wrap_text_product {    
    padding: 24px 16px;
}

.item_title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.item_text {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.item_cost {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.button_box {
    padding-bottom: 60px;
}

.button_browse {
    display: block;    
    margin: 0 auto;
    color: #F26376;
    font-weight: 400;
    font-size: 16px;    
    padding: 15px 39px 14px 39px;
    border-color: #FF6A6A;
    background: none;
}

.services {
    /* Секция сервисов */
    margin-top: 95px;
    height: 341px;
    background: #222224;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;
}
.service {
    width: 360px;
    height: 134px;
    color: #FBFBFB;
    text-align: center;
}

.title_service {
    margin-top: 19px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.text_service {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.subscribe {
    /* Секция "Подписка" */
    height: 448px;
    background-image: url(img/photo_subs.svg);
    display: flex;
    text-align: center;
}

.info_subs {
    width: 360px;
    height: 225px;
    margin-top: 97px;
    margin-left: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.text_info_subs {
    color: #222224;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.form_subs {
    width: 557px;
    height: 142px;
    margin-top: 150px;
    margin-left: 223px;
}
.form_subs_title {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px
}
.form_subs_text {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}
.form_subs_fild {
    margin-top: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.fild_subs {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border: none; 
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-left: 22px;
}
.button_subs {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    color: #FFF;
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.footer {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222224;
}
.license_text {
    margin-left: 235px;
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.social_icon {
    /* блок ссылок на социальные сети */
    width: 148px;
    margin-right: 230px;
    display: flex;
    justify-content: space-between;
}



@media (max-width: 1024px) {
    .center {
        width: 768px;
    }
    .left_header {
        margin-left: 32px;
    }
    .right_header {
        margin-right: 41px;
    }
    .button_trash {
        margin-left: 42px;
    }
    
    .face_photo {
        width: 386px;
    }
    .face_content {
        width: 311px;
        height: 92px;
        margin-left: 39px;
        margin-top: 138px; 
    }
    .text_one {        
        font-size: 44px;
        font-weight: 900;
    }
    
    .text_two {    
        font-size: 24px;
        font-weight: 700;
    }
    .offer {
        padding-bottom: 96px;
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px;
        gap: 20px;
    }
    .item_image {
        /* Уменьшаем картинки до размера поля */
        width: 100%;
    }
    .item_text_block {
        padding-top: 65px;
    }
    .item4 {
        width: 735px;
        height: 116px;    
    }
    .item_image4 {
        width: 735px;
    }
    .item4_text {
        padding-top: 33px;
        width: 737px;
    }
    .product_items {
        margin-top: 72px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }
    .services {
        margin-top: 65px;
        height: 610px;        
        flex-direction: column;
    }
    .subscribe {
        height: 614px;
        flex-direction: column;
        align-items: center;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
    .info_subs {
        margin-top: 64px;
        margin-left: 0;
    }

    .form_subs {
        margin-top: 48px;
        margin-left: 0;
    }
    .form_subs_title {
        line-height: 39px
    }
    .form_subs_fild {
        margin-top: 27px;
    }

    .license_text {
        margin-left: 32px;
    }
    
    .social_icon {
        /* блок ссылок на социальные сети */
        margin-right: 32px;
    }
}

@media (max-width: 767px) {
    .center {
        width: 375px;
    }
    .header {
        height: 74px;
    }
    .left_header {
        margin-left: 16px;
    }
    .right_header {  
        margin-top: 25px;      
        margin-right: 16px;
    }
    .button_person {
        margin-left: 0;
        width: 0;
        visibility: hidden;
    }
    .button_trash {
        margin-left: 0;
        width: 0;
        visibility: hidden;
    }

    .face_photo {
        width: 0;
    }
    .face {
        height: 363px;
    }
    .face_content {
        gap: 15px;
    }
    .face_text_image {
        /* width: 12px; */
        height: 61px;
    }
    .text_one {        
        font-size: 38px;
        font-weight: 900;
    }
    
    .text_two {    
        font-size: 20px;
        font-weight: 700;
    }
    .offer {
        padding-bottom: 64px;
        grid-template-columns: repeat(1, 343px);
        grid-template-rows: none;
        gap: 32px;
    }
    .offer_item {
        /* скрываем изображение, выступающее за границы родителького блока */
        overflow: hidden;   
    }
    .item_image {
        height: 100%;
    }    
    .item_image4 {
        height: 100%;      
    }
    .item4 {
        width: 100%;
    }
    .item_text_block {
        padding-top: 102px;
    }
    .item4_text {
        padding-top: 30px;
        width: 360px;
    }
    .product_items {
        margin-top: 65px;
        grid-template-columns: repeat(1, 360px);
    }
    .subscribe {
        height: 550px;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
    .text_info_subs {
        font-size: 18px;
        line-height: 22px;
    }
    .form_subs {
        margin-top: 59px;
    }
    .form_subs_title {
        line-height: 37px
    }
    .form_subs_text {
        font-size: 14px;
        line-height: 153%;
    }
    .form_subs_fild {
        margin-top: 22px;
    }

    .fild_subs {
        width: 245px;
        height: 47px;
    }
    .button_subs {
        width: 96px;
        height: 47px;
    }
    

    .footer {
        height: 143px;
        flex-direction: column-reverse;
    }
    .license_text {
        margin-left: 0;
        margin-bottom: 9px;
    }
    .social_icon {
        /* блок ссылок на социальные сети */
        margin-right: 0;
        margin-top: 43px;        
    }
}