/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato;
}

.center {
    width: 1600px;
    margin: 0 auto;
}

.header {
    height: 75px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}
/* .logo {
    width: 111px;
    display: flex;
    justify-content: space-between;
} */

.left_part_header {
    margin-top: 18px; 
    margin-left: 231px;
}

.logo_header {    
    margin-right: 46px;
}

.button_header {    
    background-color: #222;
    border: none;
}

.button_menu {
    margin-right: 240px;
}

.face {    
    background-color: #F1E4E6;
    display: flex;
    justify-content:flex-start;
}

.face_content {
    width: 405px;
    height: 93px;
    margin-left: 63px;
    margin-top: 290px; 
    display: flex;
    justify-content:flex-start;
    gap: 16px;
}

.text_one {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.text_two {    
    font-size: 32px;
    font-weight: 700;
}

.color_face_text {
    color: #F16D7F;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px;
    gap: 30px;
    justify-content: center;
}

.offer_item {
    position: relative;    
}

.item_color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    top: 0;
}

.item4 {
    width: 1140px;
    height: 180px;    
}

.item_text_block {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 105px;
}

.item4_text {
    width: 1140px;
    padding-top: 65px;
}

.offer_text {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;     
}

.color_text {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.products {
    margin-bottom: 48px;
}

.title_products {
    text-align: center;
    margin-bottom: 6px;
    color: #222;
    font-size: 30px;
    font-weight: 400;
}

.subtitle_products {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.product_items {
    margin-top: 48px;    
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;    
}

.product_item {
    background-color: #F8F8F8;       
}

.wrap_img {
    height: 420px;
    background-color: #F7E4E2;    
}

.img_narrow {
    margin-top: 9px;
    margin-left: 108px;
}

.wrap_text_product {    
    padding: 24px 16px;
}

.item_title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.item_text {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.item_cost {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.footer {
    padding-bottom: 60px;
}

.button_footer {
    display: block;    
    margin: 0 auto;
    color: #F26376;
    font-weight: 400;
    font-size: 16px;    
    padding: 15px 39px 14px 39px;
    border-color: #FF6A6A;
    background: none;
}

@media (max-width: 1024px) {
    .center {
        width: 768px;
    }
    .left_part_header {
        margin-left: 32px;
    }
    .button_menu {
        margin-right: 32px;
    }
    .face_photo {
        width: 386px;
    }
    .face_content {
        width: 311px;
        height: 92px;
        margin-left: 39px;
        margin-top: 138px; 
    }
    .text_one {        
        font-size: 44px;
        font-weight: 900;
    }
    
    .text_two {    
        font-size: 24px;
        font-weight: 700;
    }
    .offer {
        padding-bottom: 96px;
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px;
        gap: 20px;
    }
    .item_image {
        /* Уменьшаем картинки до размера поля */
        width: 100%;
    }
    .item_text_block {
        padding-top: 65px;
    }
    .item4 {
        width: 735px;
        height: 116px;    
    }
    .item_image4 {
        width: 735px;
    }
    .item4_text {
        padding-top: 33px;
        width: 737px;
    }
    .product_items {
        margin-top: 72px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }
}